body {
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


nav {
    background-color: #00796b;
    padding: 10px;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 18px;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #004d40;
}

.logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

/* home */
#home {
    background-image: url('https://png.pngtree.com/background/20230610/original/pngtree-two-tigers-facing-each-other-in-front-of-a-dark-background-picture-image_3105898.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.home-heading {
    font-size: 48px; 
    margin: 20px 0;
}

.home-quote {
    font-size: 24px; 
    margin: 0 20px;
}

/* ==================================== */
#explore {
    text-align: center;
    background-color: #f5f5f5;
    padding: 50px 0;
}

h2 {
    text-align: center;
    font-size: 40px; 
    color: #333;
    margin-bottom: 30px;
}

.card-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin-top: 30px;
}

.card {
    flex: 1;
    overflow: hidden;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    margin-bottom: 20px;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-bottom: 2px solid #ddd;
}

.card-content {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 0 0 10px 10px;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s ease;
}

.card:hover .card-content {
    background-color: rgba(0, 121, 107, 0.8);
}

.card-content h3 {
    color: #333;
    font-size: 28px; 
    margin-bottom: 10px;
}

.card-content p {
    color: #524a4a;
    font-size: 19.2px; 
    line-height: 1.5;
}

#gallery {
    text-align: center;
    background-color: #f9f9f9;
    padding: 50px 0;
}

.image-gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin: 30px;
}

.image-item {
    flex: 1;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    margin-bottom: 20px;
    animation: gallery 20s linear infinite;
}

.image-item:hover {
    transform: scale(1.05);
}

.image-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: opacity 0.3s ease;
    box-shadow: 0 8px 16px rgba(173, 48, 48, 0.2);
}

.image-item:hover img {
    opacity: 0.8;
}

.image-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 121, 107, 0.8);
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-item:hover .image-info {
    opacity: 1;
}

.image-info h3 {
    margin: 0;
    font-size: 24px; 
}

#about {
    text-align: center;
    background-color: #f5f5f5;
    padding: 50px 0;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

.author-image img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    box-shadow: 5px 10px 8px 10px #0a984e;
    transition: transform 0.3s ease;
}

.author-image img:hover {
    transform: scale(1.1);
}

.description {
    max-width: 600px;
    margin-left: 40px;
    text-align: left;
}

.description h3 {
    color: #00796b;
    font-size: 32px; 
    margin-bottom: 20px;
}

.description p {
    color: #666;
    font-size: 19.2px;
    line-height: 1.6;
    margin-bottom: 15px;
}

#contact {
    text-align: center;
    background-color: #f9f9f9;
    padding: 50px 0;
}

.contact-form {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

.form-fields {
    max-width: 400px;
    margin-right: 40px;
    text-align: left;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px; 
}



textarea {
    resize: vertical;
}

.submit-btn {
    background-color: #00796b;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 19.2px; 
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #004d40;
}

.contact-illustration img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.contact-illustration img:hover {
    transform: scale(1.05);
}

footer {
    background-color: #111;
    color: #fff;
    padding: 10px 15px;
    text-align: center;
}

footer p {
    margin: 0;
    font-size: 19.2px; 
}

footer div {
    margin-top: 20px;
    font-size: 17.6px; 
}

footer a {
    color: #4caf50;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #45a049;
}


/* the below code provide the responsiveness to the website */

@media screen and (max-width: 768px) {
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    nav a {
        margin: 5px 0;
    }
}
@media screen and (max-width: 768px) {
    .home-heading {
        font-size: 24px;
    }

    .home-quote {
        font-size: 14px;
    }

    #home {
        background-size: contain;
    }
}


@media screen and (max-width: 768px) {
    .card-flex {
        display: flex;
        flex-direction: column; /* Display cards in a column */
    }

    .card {
        margin-bottom: 20px; /* Add some space between cards */
    }
}


@media screen and (max-width: 768px) {
    .image-gallery {
        display: flex;
        flex-direction: column;
        gap: 20px; 
    }

    .image-item {
        width: 100%; 
    }

    .image-info {
        text-align: center; 
    }
}


@media screen and (max-width: 768px) {
    .about-content {
        flex-direction: column; 
        align-items: center; 
    }

    .author-image {
        margin-bottom: 20px; 
    }
}


@media screen and (max-width: 768px) {
    .contact-form {
        flex-direction: column; 
        align-items: center; 
    }

    .form-fields {
        width: 100%;
    }

    .contact-illustration {
        margin-top: 20px; 
    }
}